.main{
margin-left:310px;
padding:30px;
margin-top:10px;
}

.page-title{
font-size:30px;
font-weight:bold;
margin-bottom:25px;
color:#1e3a5f;
}

.card{
background:white;
padding:25px;
border-radius:12px;
margin-bottom:20px;
box-shadow:0 0 10px rgba(0,0,0,.08);
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.bus{
font-size:22px;
font-weight:bold;
color:#1e3a5f;
}

.status{
padding:8px 14px;
border-radius:20px;
font-size:13px;
font-weight:bold;
display:inline-block;
}

.pending{
background:#fff3cd;
color:#856404;
}

.paid{
background:#d4edda;
color:#155724;
}

.cancelled{
background:#f8d7da;
color:#721c24;
}

.boarded{
background:#cfe2ff;
color:#084298;
}

.info{
margin:10px 0;
}

.info b{
color:#1e3a5f;
}

.route{
background:#1e3a5f;
color:white;
display:inline-block;
padding:10px 16px;
border-radius:20px;
margin-top:10px;
font-size:14px;
}

.timer{
background:#fff3cd;
padding:12px;
border-radius:8px;
margin-top:15px;
font-weight:bold;
color:#856404;
}

.actions{
display:flex;
gap:10px;
margin-top:20px;
flex-wrap:wrap;
}

.btn{
padding:12px 18px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
text-decoration:none;
display:inline-block;
}

.pay-btn{
background:#1e3a5f;
color:white;
}

.ticket-btn{
background:green;
color:white;
}

.cancel-btn{
background:red;
color:white;
}

.empty{
background:white;
padding:30px;
border-radius:12px;
text-align:center;
font-size:18px;
box-shadow:0 0 10px rgba(0,0,0,.08);
}